/target
/bin/*
!/bin/cli.mjs
# `nix build` output symlinks.
/result
/result-*
/dist
/node_modules

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
